*{ 
    font-family: 'Times New Roman', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background: #f2f2f2;
	place-items: center;
}

/* Header Style */

.page-header{
	background-color: #000;
	background-image:url("Images/project-three.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 48%;
	margin-bottom: 30px;
	overflow: hidden;
}

header .logo{
	width: 200px;
    float: left;
    margin-right: 50px;
    margin-left: 98px;
    margin-top: 18px;
    margin-bottom: 11px;
}

header .logo img{
	width: 93%;
	height: auto;
	display: inline-block;
}

nav#navigation{
	float:right;
	margin-top: 151px;
}


#navigation ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

#navigation ul li{
	display: inline-block;
	margin: 0 10px; 
}

#navigation ul li a{
	font-size: 33px;
	font-family: math;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

#navigation ul li.active a,
#navigation ul li a:hover{
	background-color: #fff;
	color: #000;
}


main{
	overflow: hidden;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


.main-section{
	width: 800px;
	padding: 15px 20px;
	border: 5px solid #000; 
	margin: 0 5px 30px;
	float: left;
}

main .main-section .heading{
	text-align: center;
	font-size: 37px;
}

video{
	width: 804px;
    height: 500px;
    margin-bottom: 30px;

}

main .main-section .youtube{
	width: 800px;
    height: 437px;
    margin-bottom: 30px;
}


form {
    padding: 30px 45px 85px 30px;
    margin-inline: 43px;
}

form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgray;
    transition: all 0.3s ease;
}

form .field input:focus,
form .field input:valid{
    border-color: #4158d0;
}

form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

form .options{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

form .field input[type="submit"]{
    color: #fff;
    border: 0;
    padding-left: 0;
    margin-top: -10px;
	margin-left: 12px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: rgb(0 0 0);
    transition: all 0.3s ease;
}

form .field input[type="submit"]:hover{
	background-color: #fff;
	color: #000;
    transform: scale(0.95);
}

form .field input[type="submit"]:active{
	background-color: #000;
	color: #fff;
    transform: scale(0.95);
}


.sidebar{
	width: 200px;
	padding: 10px 15px;
	border: 2px solid #000;
	margin: 0 5px 15px;
	float: left;
}

.sidebar ul{
	list-style-type: square;
}

.dropdown{
	width: 100px;
	background: #fff;
	position: absolute;
	border: 1px solid #000;
	display: none;
}

.dropdown li{
	display: block !important;
	border-bottom: 1px solid #000 !important;
}

.dropdown li{
	display: block !important;
	color: #000 !important;
	border: none !important;
}

.dropdown li a{
	color: #000 !important;
	font-size: 24px !important;
}


#navigation ul > li:hover ul.dropdown{
	display:block;
}


.page-footer{
	text-align: center;
}
